body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .container {
    text-align: center;
  }
  
  #catImage {
    width: 100px;
    height: auto;
    cursor: pointer;
  }